@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {

  h1,
  h2,
  h3,
  h4 {
    @apply text-slate-800 font-bold;
  }

  p {
    @apply text-slate-600;
    line-height: 1.8;
  }

  button {
    @apply text-slate-600;
  }

}

@layer components {
  .x-axis-padding {
    @apply px-6 md:px-10 lg:px-12 xl:px-14 py-8
  }
}
/* className="
                px-4 rounded py-2 shadow-lg md:w-40 text-sm " */
@layer utilities {
  .btn-red{
    color: #fff;
    background-color: rgb(250, 87, 87);
    border: 1px solid transparent;
    transition: all;
    border-radius: 0.25rem;
  }
  .btn-red:hover{
    color: rgb(250, 87, 87);
    background-color: #fff;
    border: 1px solid rgb(250, 87, 87);
  }
  
  .btn-blue {
    color: #fff;
    padding: .5rem 1rem;
    background-color: hsl(231, 69%, 60%);
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .btn-blue:hover {
    background-color: #fff;
    color: hsl(231, 69%, 60%);
    border: 1px solid hsl(231, 69%, 60%);
    opacity: 0.75;
  }

  .nav-social {
    transform: translateX(-50%);
  }

  svg-style:hover path {
    fill: #fa5757;
  }

  .bg-cta {
    background-color: hsl(231, 69%, 60%);
  }

  .bg {
    position: absolute;
    right: -32px;
    bottom: 0;
    height: 250px;
    width: 100%;
    background-color: hsl(231, 69%, 60%);
    border-radius: 200px 0 0 200px;
    z-index: -1;
  }

  .bg-left {
    position: absolute;
    left: -32px;
    bottom: -50px;
    height: 250px;
    width: 100%;
    background-color: hsl(231, 69%, 60%);
    border-radius: 0 200px 200px 0;
    z-index: -1;
  }

  .item {
    background-color: #fff;
    margin-bottom: 5px;
  }

  .content {
    line-height: 1.8;
    color: rgb(99, 98, 98);
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
  }
    
  .content.show {
    max-height: 500px;
  }

  footer {
    background-color: hsl(229, 31%, 21%);
  }

  .footer-ul li:nth-child(2) {
    margin: 1rem 0;
  }

  @media (min-width: 1024px) {
    .article-div div:nth-child(2){
      transform: translateY(0.625rem);
    }
    .article-div div:nth-child(3){
      transform: translateY(1.25rem );
    }
  }

  @media (min-width: 768px) {
    .footer-ul li:nth-child(2) {
      margin: 0rem;
    }
  }

  @media (min-width: 1024px) {
    * {
      font-size: 18px;
    }

    body {
      overflow-x: hidden;
    }

    .bg,
    .bg-left {
      height: 300px;
    }

    .bg-left {
      left: -40%;
      width: 120%;
    }
  }
}


/* FAQ animation code */
/* @keyframes closeFaq {
  from {height: 100px;}
  to {height: 0px;}
}
.content {
  line-height: 1.8;
  color: rgb(99, 98, 98);
  height:0;
  overflow: hidden;
  animation: closeFaq 0.5s ease;
}
@keyframes openFaq {
  from {max-height: 0px;}
  to {max-height: 500px;}
}
.content.show{
  color: rgb(99, 98, 98);
  height: auto;
  animation: openFaq 1.5s ease;
} */