@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* responsive navbar */
@layer base {
  /* nav {
    @apply flex justify-between flex-col opacity-0 absolute -z-50 lg:opacity-100 lg:relative lg:z-auto;
  } */

  h1,
  h2,
  h3,
  h4 {
    @apply text-slate-800 font-bold;
  }

  p {
    @apply text-slate-600;
    line-height: 1.8;
  }

  button {
    @apply text-slate-600;
  }

}

@layer components {
  .x-axis-padding {
    @apply px-6 md:px-10 lg:px-12 xl:px-14 py-8
  }
}

@layer utilities {
  nav ul li button {
    /* color: #fff; */
    /* font-size: 16px; */
  }

  .btn-blue {
    color: #fff;
    padding: .5rem 1rem .5rem 1rem;
    background-color: hsl(231, 69%, 60%);
    border: 1px solid transparent;
  }
  .btn-blue:hover {
    background-color: #fff;
    color: hsl(231, 69%, 60%);
    border: 1px solid hsl(231, 69%, 60%);
    opacity: 0.75;
  }

  .nav-social{
    transform: translateX(-50%);
  }
  svg-style:hover path {
    fill: #fa5757;
  }

  .bg-cta {
    background-color: hsl(231, 69%, 60%);
  }

  /* .btn-red {
    background-color: #fa5757;
    border: 1px solid transparent;
  }

  .btn-red:hover {
    background-color: #fff;
    color: #fa5757;
    border: 1px solid #fa5757;
  } */

  .bg {
    position: absolute;
    right: -32px;
    bottom: 0;
    height: 250px;
    width: 100%;
    background-color: hsl(231, 69%, 60%);
    border-radius: 200px 0 0 200px;
    z-index: -1;
  }

  .bg-left {
    position: absolute;
    left: -32px;
    bottom: -50px;
    height: 250px;
    width: 100%;
    background-color: hsl(231, 69%, 60%);
    border-radius: 0 200px 200px 0;
    z-index: -1;
  }

  footer {
    background-color: hsl(229, 31%, 21%);
  }

  @media (min-width: 1024px) {
    * {
      font-size: 18px;
    }

    body {
      overflow-x: hidden;
    }

    .bg,
    .bg-left {
      height: 300px;
    }

    /* .bg {
      right: -40%;
      width: 120%;
    } */

    .bg-left {
      left: -40%;
      width: 120%;
    }
  }
}